$frontType:italic;


#main-search{display:none;width:100%}
#main-search input{flex:1}
.social-icon{float:right}
.main-logo{float:left}
.navbar{width:100%}
.mobile-search{display:flex}
.mobile-search .form-control{margin-right:0.5rem}
.mobile-search button{margin-right:0.5rem}

@media screen and (min-width: 768px) {
    .mobile-nav{display:none}
    
}
@media screen and (max-width: 768px) {
    #search-button{display:none}
}


.title-line{
	font-style: $frontType;
    position: relative;
    display: inline-block;
    padding-right: 11px;
}

@media (min-width: 992px){

h2 {
    font-size: 40px;
}
}


.title-line:after,title:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 400px;
    height: 1px;
    left: 100%;
    bottom: 0.2em;
    background: #000;
    z-index: -1;
}